<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-collapse">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <%= link_to 'Cool-Todo', root_path, :method => :get, :class => "navbar-brand" %>
      <ul class="nav navbar-nav navbar-right navbar_text">
        <% if !user_signed_in?  %>
          <li><a href="">Help</a> </li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
        <% if user_signed_in?  %>
          <li><%= link_to 'Account'%></li>
          <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div><br/><br/>
